# Ignore Django migration files
*/migrations/

# Ignore Python bytecode
*.py[cod]
__pycache__/

# Ignore virtual environment
venv/
env/

# Ignore static files
staticfiles/
media/

# Ignore environment variables
.env

# Ignore database files
*.sqlite3

# Ignore IDE files
.vscode/
.idea/
